<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="KhpdSynchroService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<KhpdSynchroService.Properties.Settings>
			<setting name="CommandAfterOutput" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DisconnectError" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Verbose" serializeAs="String">
				<value>False</value>
			</setting>
			<!--настройки заббикса-->
			<setting name="ZabbixServer" serializeAs="String">
				<value>CDC01-PEINTKT01</value>
			</setting>
			<setting name="ZabbixUlr" serializeAs="String">
				<value>10.7.142.202</value>
			</setting>
			<setting name="ZabbixPort" serializeAs="String">
				<value>10051</value>
			</setting>
			<!--Строка подключения к БД MS SQL-->
			<setting name="SQLConnStr" serializeAs="String">
        <!--<value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=KHPD;Data Source=CDC01-PISQLKT01.dc-prod.tn.corp</value>-->
        <value>Data Source=vdc01-pisqlktn2;Initial Catalog=Khpd;User ID=sa;Password=P@ssw0rd</value>
      </setting>
			<!--Имя создаваемой таблицы для хранений истории-->
			<setting name="SqlTableToInsert" serializeAs="String">
				<value>SSFR_Hist</value>
			</setting>
			<!--Имя созаваемого типа для загрузки истории-->
			<setting name="SqlTypeTableCreate" serializeAs="String">
				<value>SSFR_Type</value>
			</setting>
			<!--Имена метрик для мониторинга-->
			<setting name="Metric" serializeAs="String">
				<value>
				{
					<!--Доступность входящего файлового ресурса-->
					ConnectionStateSource: "SSFR.ConnectionStateSource",
					<!--Доступность файлового ресурса приемника-->
					ConnectionStateDest : "SSFR.ConnectionStateDest",
					<!--Длительность обработки файлов-->
					ProcessingTime : "SSFR.ProcessingTime",
					<!--Метка времени последнего файла в источнике-->
					TimeStampFileSource : "SSFR.TimeStampFileSource",
					<!--Метка времени последнего обработанного файла-->
					TimeStampFileDest : "SSFR.TimeStampFileDest",
					<!--Количество файлов в источнике-->
					CntFileSource : "SSFR.CntFileSource",
					<!--Количество обработанных файлов-->
					CntFileProcessed : "SSFR.CntFileProcessed",
					<!--Сигнал жизни службы-->
          LiveCounter : "SSFR.LiveCounter",
          <!--Размер папки источника-->
          SourceDirectorySize : "SSFR.SourceDirectorySize",
          <!--Размер папки приемника-->
          DestDirectorySize : "SSFR.DestDirectorySize"
          }
        </value>
			</setting>
			<!--Именя файла конфигурации-->
			<setting name="CnfgPath" serializeAs="String">
				<value>Config.csv</value>
			</setting>
			<!--Уставка длительности ожидания доступа к ФР(сек)-->
			<setting name="ConnectionTime" serializeAs="String">
				<value>60</value>
			</setting>			
		</KhpdSynchroService.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
</configuration>